@tailwind base;
@tailwind components;
@tailwind utilities;

.textarea-autoheight {
  field-sizing: content;
}

.text-gradient-dark {
  background: linear-gradient(30deg,
      rgb(255, 255, 255, .9) 10%,
      rgb(100, 100, 100) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-light {
  background: linear-gradient(30deg,
      rgb(0, 0, 0) 10%,
      rgb(100, 100, 100) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.dark ::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}